@using Microsoft.AspNetCore.Components
@if (!Hidden)
{
    <MudDrawer @bind-Open="@_categoryOpen" Fixed="true" Elevation="1" ClipMode="DrawerClipMode.Docked" Anchor="Anchor.Right"
    Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" MiniWidth="2em">
        @if (_categoryOpen)
        {
            <CategoryTree />
        }
        else
        {
            <div class="d-flex justify-center align-center mud-height-full">
                <MudIcon Size="Size.Small" Icon="@Icons.Filled.ArrowBackIos" Title="Categories" />
            </div>
        }
    </MudDrawer>
}

@code {
    bool _categoryOpen = false;

    [Parameter]
    public bool Hidden { get; set; }

    [Parameter]
    public EventCallback<bool> HiddenChanged { get; set; }
}