@page "/dashboard"
@using SciMaterials.Contracts.API.DTO.Files;
@using SciMaterials.Contracts.Result;
@using SciMaterials.Contracts.WebApi.Clients.Files;
@inject IFilesClient filesClient;

@if (Files is null)
{
	<p>Загрузка</p>
}
else
{
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Handle</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>few</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>fewfe</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>fwefewk</td>
				<td>fwefewk</td>
			</tr>
		</tbody>
	</table>

}
<button class="btn btn-primary" @onclick="Update">Обновить</button>

@code {
	public List<GetFileResponse>? Files { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		await Update();
	}

	private async Task Update()
	{
		Files = null;
		await Task.Delay(2000);
		var fileResponse = await filesClient.GetPageAsync(1, 3);
		Files = fileResponse.Data;
	}
}