<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - SciMaterials.MVC - <a asp-area="" asp-controller="Files" asp-action="Privacy">Privacy</a>
    </div>
</footer>